<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <div>
    <a href="/logout">ログアウト</a>
  </div>
  <h1>Janken GAME!</h1>
  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <p>Hi! [[${login_user}]]</p>
  <a href="/jankengame?hand=gu">ぐー</a>
  <a href="/jankengame?hand=tyoki">ちょき</a>
  <a href="/jankengame?hand=pa">ぱー</a>

  <div th:if="${result}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 Gu</p>
    <p>[[${result}]]</p>
  </div>
</body>

</html>
